body {
    background-color: peru;
    color: white;
}

h1 {
    text-align: center;
    font-size: 70px;
}

.fotosTxt {
    font-size: 28px;
    text-align: center;
}

.banner {
    width: 100%;
    height: 500px;
}

.branch-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ramas {
    width: 24%;
    height: 300px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 15px;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form input {
    width: 25%;
    border: 2px solid black;
    border-radius: 10px ;
    height: 35px;
}
form label {
    font-size: 35px;
}
form .button {
    width: 150px;
    background-color: rgba(4, 105, 105, 0.77);
    color: white;
    font-size: 20px;
}